.background{
 -fx-background-color:  #EEE9E9 ;}
.label{
  -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #000080;

}
.little-button{
    -fx-border-color: #000080;
    -fx-border-width: 2;
    -fx-background-radius: 2;
    -fx-background-color: E6E6FA;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #000080;
}
.text-Desc {
-fx-min-width:90%;
-fx-min-height:200px;
-fx-resize:none;


}